{% extends "base/base.html" %}

{% block title %}
    Enlistar Solicitudes
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <h1>Tabla de Solicitudes</h1>
    <a class="btn btn-success px-3" href="{% url 'adopcion:solicitud_crear' %}">
        + crear
    </a>
</div>
{% if solicitudes %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Adoptante</th>
            <th scope="col">No.Mascotas</th>
            <th scope="col">Razones</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for solicitud in solicitudes %}
            <tr>
                <th scope="row"> {{ solicitud.id }}</th>
                <td>{{ solicitud.persona.nombre}} {{ solicitud.persona.apellidos }}</td>
                <td>{{ solicitud.numero_mascotas}}</td>
                <td>{{ solicitud.razones}}</td>
                <td>
                    {% if request.path == "/adopciones/solicitud/f/" %}
                        <a href="{% url 'adopcion:f_solicitud_editar' solicitud.id %}" class="btn btn-warning">Editar</a>
                        <a href="{% url 'adopcion:f_solicitud_eliminar' solicitud.id %}" class="btn btn-danger">Eliminar</a>
                    {% else %}
                        <a href="{% url 'adopcion:solicitud_editar' solicitud.id %}" class="btn btn-warning">Editar</a>
                        <a href="{% url 'adopcion:solicitud_eliminar' solicitud.id %}" class="btn btn-danger">Eliminar</a>
                    {% endif %}
                </td>
                <!-- <td>
                    <a class="btn btn-warning" href="{ url 'adopcion:solicitud_editar' solicituds.id %}">
                        Editar
                    </a>
                    <a class="btn btn-danger" href="{ url 'adopcion:solicitud_eliminar' solicituds.id %}">
                        Eliminar
                    </a>
                    
                </td> -->
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h5>No hay Registros de adopciones</h5>
{% endif %}
{% endblock %}
