{% extends "base/base.html" %}

{% block title %}
    Enlistar Mascotas
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <h1>Lista de Mascotas</h1>
    <a class="btn btn-success px-3" href="{% url 'mascota:mascota_crear' %}">
        + crear
    </a>
</div>

{% if mascotas %}
<div class="row">
    {% for mascota in mascotas %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{% if mascota.foto %}{{ mascota.foto.url }}{% else %}https://www.tripleq.com/uploads/medium/empty-img.png{% endif %}" class="card-img-top" alt="{{ mascota.nombre }}" style="height: 300px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">{{ mascota.nombre }}</h5>
                <p class="card-text">
                    <strong>Sexo:</strong> {{ mascota.sexo }}<br>
                    <strong>Edad Aproximada:</strong> {{ mascota.edad_aproximada }}<br>
                    <strong>Fecha de Rescate:</strong> {{ mascota.fecha_rescate }}
                </p>
                <a href="{% if request.path == '/mascota/f_listar/' %}{% url 'mascota:f_mascota_editar' mascota.id %}{% else %}{% url 'mascota:mascota_editar' mascota.id %}{% endif %}" class="btn btn-warning">Editar</a>
                <a href="{% if request.path == '/mascota/f_listar/' %}{% url 'mascota:f_mascota_eliminar' mascota.id %}{% else %}{% url 'mascota:mascota_eliminar' mascota.id %}{% endif %}" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<h5>No hay Registros de mascotas</h5>
{% endif %}

{% endblock %}
